@import url("https://fonts.googleapis.com/css?family=Lora:300,400,900");
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

/*changing the body text to a serif because I'm a pleb*/
body h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
}

/*and it was allllll YELLOW*/

body {
	background: #fafaf1;
}
/*adding the icons for social media. also because I'm a pleb */

.icon.circle.fa-linkedin {
	background: #0077b5;
	color: #fff;
}

	.icon.circle.fa-linkedin:hover {
		background: #0081c1;
	}

.icon.circle.fa-medium {
	background: #029E74;
	color: #fff;
}

	.icon.circle.fa-medium:hover {
		background: #01aa7a;
	}

/*changing the link of the icons back to gray*/

.icon.link {
	color:inherit;
}

/*trying to get this thing to float ugh*/

	.icon.link span {
		color:fff;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
    	top: 0;
	}

  .icon.link span:hover {
    top: -0.2em;
  }

/*making the my role box the way it is*/
.role {
	background-image: linear-gradient(to right, white 1%,#ccc 50%), url('images/overlay.png'), url(../../images/banner.jpg);
    background-blend-mode: screen;
    border-style: solid;
    border-width: .5em; 
    border-color: #3C1519;
}
.rolehead {
	color: #666;
	font-weight: 400;
	font-size: 1.5em;
	text-shadow: 2px, 2px, black;
	padding-left: 1em
}
.roletext {
	color: #555;
	text-shadow: 5px, 5px, black;
	padding-left: 1em;
	padding-right: .5em;
}

.bigidea{
	font-weight: 500;
}
.inlineimg{
	align-self: center;
	padding: 1%;
    display: inline-block;
    height: auto;
    max-width:  45%;
}

/*literally who knows why this isn't working*/
tr {
    padding: 2em;
}
table tr {
	padding: 60px;
}

/*for displaying images and text and making it look cool i guess*/

.imgborder{
width: 80%; 
margin: auto; 
display: block; 
border-style: solid;
border-width: 1px;
border-color: #aca083;
}

.actiontext{
	border-left: 6px solid #bcb093; 
	float: left; 
	text-align: left;
	padding-left: .5em;
}

	#submain {
		/*background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");*/
		/*background-position: top left, top right, bottom left, bottom right;*/
		/*background-repeat: no-repeat;*/
		background-size: 25em;
		padding: 7em 0;
	}

		#submain > :last-child {
			margin-bottom: 0;
		}

		#submain .sidebar section {
			border-top: solid 1px rgba(124, 128, 129, 0.2);
			margin: 3em 0 0 0;
			padding: 3em 0 0 0;
		}

			#submain .sidebar section:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}

	body.index #submain {
		padding-top: 5em;
	}

	#submain {
				padding: 5em 0;
			}

				#submain .sidebar {
					border-top: solid 1px rgba(124, 128, 129, 0.1);
					padding-top: 3em;
				}

					#submain .sidebar section {
						border-top: 0;
						padding-top: 0;
					}

			body.index #submain {
				padding-top: 4.5em;
			}
/*change the index text*/
		#banner .inner {
			color: #8e7a3b;
		}

/*for when u gotta make a list u know what i mean fam*/
.checklist {
	font-size: 1.5em; 
	color: #bcb093; 
	padding-right: .5em;
	font-weight: 600;
}
