@import url("https://fonts.googleapis.com/css?family=Lora:300,400,900");

/*changing the body text to a serif because I'm a pleb*/
body h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
}

/*and it was allllll YELLOW*/

body {
	background: #fafaf1;
}
/*adding the icons for social media. also because I'm a pleb */

.icon.circle.fa-linkedin {
	background: #0077b5;
	color: #fff;
}

	.icon.circle.fa-linkedin:hover {
		background: #0081c1;
	}

.icon.circle.fa-medium {
	background: #029E74;
	color: #fff;
}

	.icon.circle.fa-medium:hover {
		background: #01aa7a;
	}

/*changing the link of the icons back to gray*/

.icon.link {
	color:inherit;
}

/*trying to get this thing to float ugh*/

	.icon.link span {
		color:fff;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
    	top: 0;
	}

  .icon.link span:hover {
    top: -0.2em;
  }

/*making the my role box the way it is*/
.role {
	background-image: linear-gradient(to right, white 1%,#ccc 50%), url('images/overlay.png'), url(../../images/banner.jpg);
    background-blend-mode: luminosity;
    border-style: solid;
    border-width: .5em; 
}
.rolehead {
	color: #666;
	font-weight: 400;
	font-size: 1.5em;
	text-shadow: 2px, 2px, black;
	padding-left: 1em
}
.roletext {
	color: #555;
	text-shadow: 5px, 5px, black;
	padding-left: 1em;
	padding-right: .5em;
}

.bigidea{
	font-weight: 500;
}
.inlineimg{
	align-self: center;
	padding: 1%;
    display: inline-block;
    height: auto;
    max-width:  45%;
}

/*literally who knows why this isn't working*/
tr {
    padding: 2em;
}
table tr {
	padding: 60px;
}